.hover:hover{
    background-color:blue !important;
}

@media only screen and (max-width: 600px) {
    .mobileFakeText {
        width: 300px!important;
        height: 40px!important;
        left: 16px !important;
        top: 80px !important;
    }
}

.form-checkbox {
    @apply text-blue-600 !important ;
}
.form-checkbox:focus {
    border-color: #00000000 !important;
    box-shadow: none !important;
}